backgroundLit/
scripts/__pycache__
scripts/.Rhistory
scripts/outTable
scripts/Rplots.pdf
output/*.png
output/freqs/
output/popSize/
output/raw/
output/genAlgOut
output/summary/
output/genAlgOutput
*.png
outTable
output2/
nohup.out
multiOutput/*.png
multiOutput/freqs/
multiOutput/popSize/
multiOutput/raw/
multiOutput/genAlgOut
multiOutput/summary/
outputNew/
*.tgz
newOutputAgain/
summary/
testPrj/
.ipynb_checkpoints/
scripts/.ipynb_checkpoints
rawData/
scripts/newLearning/__pycache__/
*.tsv
